* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #e2e2e2;
  
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
    ". header ."
    ". main ."
    ". footer ."
  ;
}

header {
  grid-area: header;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-image {
  width: 90%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.5rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}


 nav ul {
  display: flex;
 }

 li {
  list-style-type: none;
  padding: 10px
 }

 a {
  text-decoration: none;
  color: #000;
}

.current-page {
  color: #FF00B1;
}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 0.5fr;

  grid-template-areas: 
    "intro-text rock-image"
    "badge-section badge-section "
  ;

}

.introduction-text {
  grid-area: intro-text;
}

.rock-image {
  grid-area: rock-image;
  width: 100%;
}

.badge-section {
  grid-area: badge-section;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.badge {
  height: 100px;
  width: 100px;
  background-color: #000;
  padding: 2rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}