* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #e2e2e2;
  
  display: grid;
  grid-template-columns: 20px 1fr 40px;
  grid-template-rows: 1fr 4fr 0.25fr;
  grid-template-areas: 
    ". header ."
    ". main ."
    "footer footer footer"
  ;
}

header {
  grid-area: header;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-image {
  width: 90%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.5rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}


 nav ul {
  display: flex;
 }

 li {
  list-style-type: none;
  padding: 10px
 }

 a {
  text-decoration: none;
  color: #000;
}

.current-page {
  color: #FF00B1;
}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 0.5fr;

  grid-template-areas: 
    "intro-text rock-image"
    "badge-section badge-section "
  ;

}

.introduction-text {
  grid-area: intro-text;
}

.rock-image {
  grid-area: rock-image;
  width: 100%;
  margin-left: 1rem;
}

.badge-section {
  grid-area: badge-section;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.badge {
  height: 100px;
  width: 100px;
  background-color: #000;
  margin: 1rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.black-btn {
  padding:0.25rem;
}

@media (max-width: 950px) {
  .badge-section {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'intro-text'
    'rock-image'
    'badge-section'
    ;
  }
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .rock-image {
    margin-top: 1rem;
    margin-left: 0;
  }
  footer {
    flex-direction: column;
  }
}